.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card{
  padding: 3em;
  margin: 3em;
  width: 30%;
  height: fit-content;
}

body{
  display: flex;
}

.stretcher{
  width: 35%;
}
