<!--The content below is only a placeholder and can be replaced.-->
<base href="/">
<mat-toolbar color="primary">
  <!--<span><mat-icon svgIcon="sonstiges"></mat-icon></span>-->
  <span><a href="/"><img src="../assets/SupportLocals_logo.png" width="180px"></a></span>
  <span><a mat-button href="/client/1">Käufer</a></span>
  <span><a mat-button href="/seller/1">Verkäufer</a></span>
  <span><a mat-button href="/driver/1">Fahrer</a></span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span><a href="/profile/" mat-button>Mein Profil</a></span>

</mat-toolbar>

<router-outlet></router-outlet>
