#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 80px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
}

mat-sidenav{
    padding: 20px;
  margin-left: 0;
  }

mat-sidenav-container {

}

body{
}

mat-grid-tile{
  margin: 1em;
}

mat-grid-tile-footer{
  flex-direction: row;

}

.stretcher{
  width: 30%;
}

mat-grid-list{
  width: 80%;
  margin-left: 15em;
}

