<body>

<!--<button (click)="sidenav.toggle()" id="myBtn" title="Go to top">Filter</button>-->
<button (click)="sidenav.toggle()" id="myBtn" mat-raised-button color="accent">Filter</button>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" fixedInViewport="true">
    <br>
    <div *ngFor="let kategorie of kategorien" >
      <mat-checkbox labelPosition="after">{{kategorie.name}}</mat-checkbox>
      <br>
    </div>
  </mat-sidenav>
</mat-sidenav-container>


<mat-grid-list cols="2" rowHeight="100px" gutterSize="1.5px">
  <mat-grid-tile
      *ngFor="let tile of tiles" (click)="open($event, tile.text)"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
      <mat-grid-tile-header [style.background]="'#045673'">{{tile.text}}</mat-grid-tile-header>
      <mat-grid-tile-footer [style.background]="'#grey'">
        <span>
          Mustersraße 32
        <br> 01066 Dresden
        </span>
        <span class="stretcher"></span>
        <span>
          <a mat-raised-button color="accent" href="amazon.com">Muster-Shop 24</a>
        </span>
      </mat-grid-tile-footer>
      <img src="../../assets/SupportLocals_logo.png" width="60%">
  </mat-grid-tile>
</mat-grid-list>

</body>
