<h1>Client View</h1>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" fixedInViewport="true">
    <br>
    <a class="button fancy-button" (click)="sidenav.toggle()"><i class="material-icons">filter_list</i></a>
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <div *ngFor="let kategorie of kategorien" >
      <mat-checkbox labelPosition="before">{{kategorie.name}}</mat-checkbox>
      <br>
    </div>
  </mat-sidenav>


<mat-sidenav-content>
  <a class="button fancy-button"><i class="material-icons">filter_list</i></a>
</mat-sidenav-content>
</mat-sidenav-container>


<mat-grid-list cols="2" rowHeight="100px" gutterSize="1.5px">
  <mat-grid-tile
      *ngFor="let tile of tiles" (click)="open($event, tile.text)"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
      <mat-grid-tile-header [style.background]="'#045673'">{{tile.text}}</mat-grid-tile-header>
      <mat-grid-tile-footer [style.background]="'#A0B1C6'">Address of the shop</mat-grid-tile-footer>
      Repräsentatives Bild
  </mat-grid-tile>
</mat-grid-list>

