body{
  margin: 1em;
}

table {
  width: 90%;
  table-layout: fixed;
  margin: 1em;
  margin-left: 4em;
}

th, td {
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#addButton {
  margin-left: 4em;
}