
<body>
<span class="stretcher"></span>
<mat-card>
  <mat-card-header></mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Firmenname</mat-label>
        <input matInput placeholder="Musterunternehmen" value="Musterunternehmen">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Telefon</mat-label>
        <input matInput placeholder="Telefon" value="Telefon">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Kategorie</mat-label>
        <input matInput placeholder="Kategorie" value="Kategorie">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Adresse</mat-label>
        <input matInput placeholder="" value="Adresse">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button>Eingaben speichern</a>
  </mat-card-actions>
</mat-card>
<span class="stretcher"></span>
</body>
