<body>
<span class="stretcher"></span>
<mat-card>
  <mat-card-header>
    Seite für Verkäufer
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="/seller/1">Verkäufer</a>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-header>
    Seite für Kunde 1
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="/client/1">Kunde</a>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-header>
    Login
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="/login">Login</a>
  </mat-card-actions>
</mat-card>
</body>
